webview {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: inline-flex !important;
        overflow: auto;overflow-y: hidden;

}

body {
    overflow: auto;overflow-y: hidden;
}

header{
    -webkit-app-region:drag;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 34px;
    background: linear-gradient(to right, rgb(255, 51, 0), rgb(255, 153, 0), rgb(255, 204, 0), rgb(153, 204, 102), rgb(0, 204, 204), rgb(102, 153, 255), rgb(102, 102, 204) 100%);
}

/*Window Controls*/
header>ul{
    float:        right;
    text-align:   right;
    line-height:  0;
    padding-left: 6px;
    }
header>ul>li,
header>ul>li>a{
    display: inline-block;
    }
header>ul{
    float: right;
    }
    header>ul>li>a{
        width:              22px;
        height:             22px;
        margin:             -10px 6px 0px 0;
        background-image:   url('./icons.svg');
        background-repeat:  no-repeat;
        -webkit-transition: -webkit-transform 200ms;
        -webkit-app-region: no-drag;

        }
    header>ul>li>a:hover,
    header>ul>li>a:focus{
        -webkit-transform:  scale(1.22,1.22);
        outline:            none;
        }
    a#Close{
        background-position: -44px 0;
        }
    a#Maxi{
        background-position: -22px 0;
        }
    a#Mini{
        background-position: 0 0;
    }